body {
    font-family: sans-serif;
    color: #666666;
}

h1,h2,h3 {
    color: #0084B9;
}

h1 {
    font-weight: normal;
    font-size: 50px;
}

small {
    color: #77C9EA;
}

h1 img {
    vertical-align: middle;
}

a:link {
	color: #0084B8;
}

a:active {
	color: #0084B8;
}

a:visited {
	color: #0084B8;
}

a:hover {
	color: #77C9EA;
}

code { 
  background-color: #eeeeee;
}

table.gridtable {
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.label {
  font-weight: bold;
  line-height: 200%;
}

.content {
  margin-top: -2em;
  line-height: 200%;
  padding-left: 200px;
}

.block {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0 0 1px 0px;
  overflow: auto;
  zoom: 1;
}

.block-label {
  font-weight: bold;
  line-height: 200%;
  color: #0084B8;
}

.citation-button {
    font-variant: small-caps;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #0084B8;
    padding: 3px 3px 0px 3px;
}
